# Configurações de IDEs JetBrains -
.idea/

# Ignorar arquivos de diploma e certificados específicos
src/assets/pdf/certificates/uninter-licenciatura-musica.pdf
src/assets/pdf/certificates/uninter-licenciatura-musica.pdf